.imgcontainer {
    text-align: center;
    
    position: relative;
    padding-left: 120px;
    

  }
  
  img.avatar {
    width: 60%;
    border-radius: 50%;
    height: 150px;
    
  }