@tailwind base;
@tailwind components;
@tailwind utilities;




.sec1{
  
  width: 1532.5px;
  background-color:#12192C;
  margin-top: -90px;
  height: 658px;
    
     
}
#head{
    text-align: left;
    margin-left: 100px;
    
  }
.big-heading{
    width:300px;
   
    
}
.hero{
    
    position: absolute;
    right: 0px;
    top: 65px; 
    
}
.heading{
    width:300px;
   
   padding-top: 10px;
    
    
}

.img{
  margin-top:65px;
 border-image:linear-gradient(270deg, rgba(222,0,218,1) 1%, rgba(166,19,231,1) 48%, rgba(104,0,239,1) 100%);
  border-image-slice: 1;
 border-radius: 20% ;
 border-image-width:0 10px 10px 0px;
 width: 525px;
 height: 425px;
 margin-left: 108px;
}
.big-heading1{
    width:645px;
    margin-top:25px;
    background:linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    -webkit-background-clip: text;
    color:transparent; 
    line-height: 160%;
    
    
}
.big-heading11{
    width:545px;
    background:linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    -webkit-background-clip: text;
    color:transparent; 
    margin-top: -8px;
}
.big-heading{
    width:400px;
    
    
}
.but-4{
padding: 2px 44px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: none;
  margin-top: 20px;
  background:linear-gradient(45deg, #ff6209 0, #6905d5 100%);

}
.but-4:hover{
    background:linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}
.m{
  
  position: absolute;
  margin-left:390px;
  margin-top: -450px;
  border: 2px solid;
  border-radius: 65px;
  background-color:#E6EEE0;
  
  padding: 14px; 
}

.modal-content {  
  height: 360px; 
} 

.modal-content h2{
  display: block;
font-size: 2em;
margin-top: 2.2em;
margin-bottom: 0.67em;
margin-left:1px;
margin-right: 0;
font-weight: bold;
background:black;
-webkit-background-clip: text;
color:transparent;

}

/* From Uiverse.io by gksckt */ 
.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-6 {
  width: 170px;
  height: 60px;
  margin-top: 50px;
  margin-left: 20px;
  font-size: 18px;
  background: #fff;
  border: none;
  border-radius: 50px;
  color: #000;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
  background: rgb(0,140,255);
  cursor: pointer;
}
.btn-7 {
  width: 170px;
  height: 60px;
  margin-top: -60px;
  margin-left: 280px;
  font-size: 18px;
  background: #fff;
  border: none;
  border-radius: 50px;
  color: #000;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
  background:  rgb(0,140,255);
  cursor: pointer;
  
}

.btn-6:hover,.btn-7:hover {
  box-shadow: inset 0 0 0 4px #ef476f, 
              inset 0 0 0 8px #ffd166, 
              inset 0 0 0 12px #06d6a0,
              inset 0 0 0 16px #118ab2;
  background:#1d1c1c;
  color: #fff;
  animation: bounce 0.5s;
 
}
.y{
  font-family: 'Courier New', Courier, monospace;
  font-size: xx-large;
  font-weight:bolder;
  margin-left:-3px;
  margin-top: 12px;
  
  
  
}

.submit1{
  position: absolute; 
  top: 200px; 
  right: 200.9px; 
  padding: 5px 7px; 
  background-color: #6200EA;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

 .ls{
  background-color:#12192C;
  padding: 95px;
  width: 100%;
  position: absolute;
  margin-top: 46px;
  height: 854px;
 }
  .login {
    --active: 0;
    color: white;
    border-radius: 4px;
    position: absolute;
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: bold;
    border: 0;
    background: transparent;
    padding: 0;
    margin-top: 140px;
    width: 389px;
    margin-left:-155px ;
    animation: bounce 1s infinite;
  }
  
  .col_md_sign_up {
    position: relative;
    float: left;
    width: 50%;
    margin-top: -164px;     
    
  }
  
  .cont_ba_opcitiy > h2 {
    font-weight:bolder;
    color:#FE0001;
    font-style: italic;
  }
  
  .cont_ba_opcitiy > p {
    font-weight: 1000;
    margin-top: 48px;
    font-style: italic;
    color:rgb(0, 0, 0); 
    padding-left: 20px;
    padding-right: 10px;
    font-size:25px;
    
    
    
  }
  
  .cont_ba_opcitiy {
    position: relative;
    width: 389px;
    height: 362px;
    border-radius: 3px;
    margin-top: 290px;
    padding: 15px 0px;
    background: linear-gradient(180deg, rgba(147,140,168,1) 34%, rgba(99,59,143,1) 100%);
    color: transparent;
    background-repeat: no-repeat;
    background-size: cover; 
    opacity: 0.8;
    margin-left: 82px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    gap: 165px;
    

    
  }
  .cont_ba_opcitiy1 > h2 {
    font-weight:bolder;
    color:#FE0001;
    font-style: italic;
  }
  
  .cont_ba_opcitiy1 > p {
    font-weight: 1000;
    margin-top: 48px;
    font-style: italic;
    color:rgb(0, 0, 0); 
    padding-left: 20px;
    padding-right: 10px;
    font-size:25px;
    
    
    
  }
  
  .cont_ba_opcitiy1{
    position: relative;
    width: 389px;
    height: 362px;
    border-radius: 3px;
    margin-top: 290px;
    padding: 15px 0px;
    background: linear-gradient(180deg, rgba(147,140,168,1) 34%, rgba(99,59,143,1) 100%);
    color: transparent;
    background-repeat: no-repeat;
    background-size: cover; 
    opacity: 0.8;
    margin-left: 222px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    gap: 165px;
    

    
  }
  
  

  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

 
.container-fluid {
  padding: 0 0;
  text-align: center;

} 
#features {
  position:relative;
  
  
}
.feature-title{
    font-size: 1.5rem;
    margin-top: 133px;
    font-weight: 600;
}
.feature-title2{
  font-size: 1.5rem;
  margin-top: 133px;
  font-weight: 600;
}
.feature-title3{
  font-size: 1.5rem;
  margin-top: 133px;
  font-weight: 600;
}
.feature-box {
  padding: 1.3%;
  margin-bottom: 1rem;
  
}
.icon {
  color:#12192c;
  margin-bottom: 1rem;
  top: 59px;
  height: 45px;
  width:56px;
  position: absolute;
  left:230px;
}
.icon2 {
  color:#12192c;
  margin-bottom: 1rem;
  top: 61px;
  height: 45px;
  width:56px;
  position: absolute;
  left:725px;
}
.icon3 {
  color:#12192c;
  margin-bottom: 1rem;
  top: 54px;
  height: 65px;
  width:56px;
  position: absolute;
  left:1240px;
}
.icon4 {
  color:#12192c;
  margin-bottom: 1rem;
  top: 135px;
  height: 65px;
  width:56px;
  position: absolute;
  left:1300px;
}
.icon:hover,.icon2:hover,.icon3:hover,.icon4:hover {
  color:#8590ad;
}

.ftext{
  width: 300px;
  margin-left: 90px;
  margin-top: 10px;
  font-family:'Times New Roman', Times, serif;
  font-size: larger;
  font-weight: 300;
}
.ftext2{
  width: 300px;
  margin-left: 90px;
  margin-top: 10px;
  font-family:'Times New Roman', Times, serif;
  font-size: larger;
  font-weight: 300;
}  
.ftext3{
  width: 300px;
  margin-left: 90px;
  margin-top: 10px;
  font-family:'Times New Roman', Times, serif;
  font-size: larger;
  font-weight: 300;
}
 

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background:red;
    cursor: pointer;
    position: relative;
    border-radius: 3px;
    margin-top: 140px;
    width: 389px;
    font-size: larger;
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: bounce 1s infinite;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
   
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
    
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

  
.glow-on{
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background:red;
  cursor: pointer;
  position: relative;
  border-radius: 3px;
  margin-top: 98px;
  width: 389px;
  font-size: larger;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  animation: bounce 1s infinite;
}

.glow-on:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on:active {
  color: #000;
}
.glow-on:hover:active:after {
  background: transparent;
  
}

.glow-on:before {
  opacity: 1;
}

.glow-on:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.full{
  position: absolute;
  margin-top: 887px;
 width:100%;
  
 }

 .imgs{
  height: 15rem;
  width: 30rem; 
  transition: transform 0.3s ease-in-out;
}
.imgs:hover{
  transform: scale(1.5);
}

.big{

    width:400px; 
 
}
.gall{
  margin-top: -50px;
  margin-left: 285px;
  position:absolute;
  font-size:xx-large;
  font-weight: 800;
  text-align: left;
  font-size: 40px;
  background:linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); 
  -webkit-background-clip: text; 
  color:transparent;  
  
  
}

 .imggga{
  height:150px;
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  font-weight: 800;
  overflow: hidden;
  background: linear-gradient(148deg, rgba(66,64,66,1) 1%, rgba(153,153,167,1) 48%, rgba(29,0,66,1) 100%);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 4s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  margin-left: 290px;
  z-index: 85;
  margin-top: 152px;
 }
 @keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}


.abc{
    padding: 85px ;
    margin-top: 1720px;
    background-color:#12192C ;
  }

  
  .testimonial-container {
    background-color: #476ce4;
    color: #fff;
    border-radius: 15px;
    margin-left: 20px;
    padding: 35px 80px;
    max-width: 768px;
    position: relative;
  }
  
  .fa-quote {
    color: rgba(255, 255, 255, 0.3);
    font-size: 28px;
    position: absolute;
    top: 70px;
  }
  
  .fa-quote-right {
    left: 40px;
  }
  
  .fa-quote-left {
    right: 40px;
  }
  
  .testimonial {
    line-height: 28px;
    text-align: justify;
  }
  
  .user {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .user .user-image {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    object-fit: cover;
  }
  
  .user .user-details {
    margin-left: 10px;
  }
  
  .user .username {
    margin: 0;
  }
  
  .user .role {
    font-weight: normal;
    margin: 10px 0;
  }
  
  .progress-bar {
    background-color: #fff;
    height: 4px;
    width: 100%;
    animation: grow 10s linear infinite;
    transform-origin: left;
  }
  
  @keyframes grow {
    0% {
      transform: scaleX(0);
    }
  }

.footer {
  background-color: rgb(17, 17, 17);
  color: #fff;
  padding: 20px 0;
  position: relative;
  margin-top:96px ;
  margin-bottom: -145px;
  width: 100%;
  
  
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  
  
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}

.footer-column h3 {
  margin-top: 0;
  font-size: 18px;
  border-bottom: 2px solid #444;
  padding-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.newsletter form {
  display: flex;
  margin-top: 10px;
}

.newsletter input[type="email"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 3px 0 0 3px;
}

.newsletter button {
  padding: 10px;
  border: none;
  background-color: #0f0;
  color: #333;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.newsletter button:hover {
  background-color: #0c0;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #444;
  padding-top: 10px;
  margin-top: 10px;

}

.footer-bottom p {
  margin: 0;
  padding-right: 850px;
}


.footer-bottom .social-icons a {
  color: #fff;
  padding: 10px 5px;
  text-decoration: none;
  padding-top: 2px;
  padding-left: 35px;
}
.footer-bottom .social-icons{
  margin-left: 75px;
}
.footer-bottom .social-icons .a1 {
  border-left: 20px;
}
.footer-bottom .social-icons a:hover {
  color: #ddd;
}
#features {
  position:relative;
}
.feature-title{
    font-size: 1.5rem;
}

.feature-box {
  padding: 1.5%;
  margin-bottom: 5rem;
}
.feature-box2{
  padding: 1.5%;
  margin-bottom: 5rem;
}.feature-box3 {
  padding: 1.5%;
  margin-bottom: 5rem;
}
@media only screen and (max-width: 768px){
  
 
  .img{
    margin-left: 967px;
    position: absolute;
  }
  .big-heading1{
    font-size: xx-large;
  }
  .big-heading11{
    font-size: xx-large;
  }
  .cont_ba_opcitiy{
    margin-left: 190px;
  }
  
  .footer{
    margin-top: 1760px;
    width: 1435px;
  }
  .footer-bottom p {
    margin: 0;
    padding-right: 18px;
}
.full{
  width: 1427px; 
}
.full1{
  width: 1300px;
 
}
.abc{
  width: 1434px;
}

.footer-bottom .social-icons{
  margin-left: 90px;
}
.imggg1{
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
 }
.imggga{
  height:150px;
  
 }
 .sec1{
  width: 1447px;
 }
 .testimonial-container {
  padding: 20px 30px;
}

.fa-quote {
  display: none;
}
.ls{
  width: 1435px;
}



.feature-title{
  position: relative;
  display:flex;
  margin-top: 110px;
  margin-bottom: 35px;
  margin-left: 70px;
  font-size: xx-large;
}
.ftext{
  font-size: xx-large;
  width: 350px;
}
.feature-title2{
  position: relative;
  display:flex;
  margin-top: -429px;
  margin-bottom: 35px;
  margin-left:588px;
  font-size: xx-large;
}
.ftext2{
  margin-left: 545px;
  font-size: xx-large;
  width: 370px;
}
.feature-title3{
  position: relative;
  display:flex;
  margin-top: -550px;
  margin-bottom: 35px;
  margin-left: 963px;
  font-size: xx-large;
}
.ftext3{
  margin-left: 995px;
  font-size: xx-large;
  width: 390px;
}
.icon3{
  margin-left: -90px;
}
.white-section{
  height: 500px;
  
}
.col_md_sign_up {
 margin-left: -50px; 
 margin-right: 50px;  
  
}
.gall{
  width: 900px;
  
}
.full1{
  margin-top: 85px;
  height: 295px;
}
  
}
  


@media(max-width:1024px) { 
  @media(min-width:740px) {
      .heading{
        width: 400px;
        margin-left: -95px;
      }
      .img{
        margin-left: -75px;
        position: absolute;
      }
      .footer-bottom p {
        margin: 0;
        padding-right: 35px;
    }
    .footer-bottom .social-icons{
      margin-left: 400px;
    }
      
    }
  }